<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- Creating a form in html-->
<form action="" method="post">
  First Name:  <input type="text" name="firstname"><br><br>
  Last Name :   <input type="text" name="lastname"><br><br>
  Email :       <input type="email" name="email"><br><br>
  <!-- Radio button -->
  Gender :      &nbsp;Male : <input type="radio" value="male" name="gender">&nbsp;&nbsp;
  Female:<input type="radio" value="female" name="gender"><br><br>
  <!-- Checkbox -->
  Hobbies :     &nbsp;<input type="checkbox" value="reading" name="hobby[]">Reading&nbsp;&nbsp;
  &nbsp;<input type="checkbox" value="writing" name="hobby[]">Writing&nbsp;&nbsp;
  &nbsp;<input type="checkbox" value="playing" name="hobby[]">Playing<br><br>
  <button type="submit">Save</button>
  <button type="reset">Reset</button>
</form>
</body>
</html>

